---
layout: compress
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  


<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="style.css">
</head>

{% include head.html %}
<body>
	<div class="custom-padding">
        <nav>
	    
            <ul class="menu-area">
                <li><a href="https://github.com/dimitrisg9">Home</a></li>
                <li><a href="#career">CAREER</a></li>
                <li><a href="#education">EDUCATION</a></li>
                <li><a href="#skills">SKILLS</a></li>
                <li><a href="tel:{{ sidebar.phone }}">Contact</a></li>
            </ul>
        </nav>
	</div>
  <div class="wrapper">
    {% include sidebar.html %}

    <div class="main-wrapper">
        {{ content }}
    </div>
  </div>

  {% include footer.html %}

{% include scripts.html %}
</body>

</html>

